---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import FirstView from '../components/FirstView.astro';
import Menu from '../components/Menu.astro';
import Concerns from '../components/Concerns.astro';
import Access from '../components/Access.astro';
import ReserveBtn from '../components/ReserveBtn.astro';
import Loading from '../components/Loading.astro';
---

<Layout 
  title="宮崎市大塚町の鍼灸・整体｜鍼灸院BiO | 肩こり・腰痛・動作改善・自律神経ケア" 
  description="宮崎市大塚町の鍼灸院BiOでは、肩こり・腰痛・動作改善・自律神経の乱れなど様々な不調に対してオーダーメイドの鍼灸・整体施術を提供。自然治癒力を引き出し、身体本来のバランスを整えます。">
  
  <main>
	<section id="first-view" class="pt-10 bg-[#f5f5ef]">
		<div class="container mx-auto px-4">
		  <Loading />
		  <FirstView />
		</div>
	  </section>

    <section id="first-view" class="py-10 bg-[#f5f5ef]">
      <div class="container mx-auto px-4">
        <Hero />
      </div>
      </section>

    <section id="about" class="py-10 bg-[#f5f5ef]">
      <div class="container mx-auto px-4">
        <Concerns />
      </div>
    </section>
    
    <section id="menu" class="py-10 bg-[#575d64]">
      <div class="container mx-auto px-4">
        <Menu />
      </div>
    </section>
    
    <section id="faq" class="py-10 bg-[#f5f5ef]">
      <div class="container mx-auto px-4">
        <FAQ />
      </div>
    </section>

    <section id="contact"class="py-10 bg-[#f5f5ef]">
      <div class="container mx-auto px-4">
        <Access />
      </div>
    </section>
    <ReserveBtn />

  </main>
</Layout>

