<div class="mt-20">
  <div class="text-center mb-12">
    <h2 class="text-2xl font-bold font-mincho  text-[#00479D] tracking-wider mb-4">prologue</h2>
    <h3 class="text-3xl font-medium font-mincho ">「整う。心と身体」</h3>
  </div>
  
  <p class="mb-8 text-lg text-center font-mincho">
    気づけばいつも、肩や腰に違和感を抱えたまま過ごしていませんか？<br>
    疲れが取れない、寝てもスッキリしない、どこか不調を感じる——<br>
    そんな日々が当たり前になっていませんか？
  </p>

    <!-- 中央のテキスト -->
    <div class=" text-center prose prose-lg mx-auto leading-relaxed font-mincho text-[#0059d6]">
      <p class="mb-8 text-sm">
        あなたの身体は、本来『整う力』を持っています。<br>
        あなたの心と身体が、本来の調和を取り戻す場所へ。<br>
        「整う」ことが、日常の活力になりますように。
      </p>
    </div>
</div>
    

  <style>
    .font-mincho {
      font-family: 'Shippori Mincho', serif;
    }

    .image-container {
      position: absolute;
    }

    .image-container img {
      object-fit: cover;
      object-position: center;
      transition: all 0.7s ease-in-out;
    }

    .image-container:hover img {
      transform: scale(1.05);
    }

    @media (max-width: 768px) {
      .image-container {
        display: none;
      }
    }
  </style>