---
import { Image } from 'astro:assets';
import lineIcon from '../assets/LINE_Brand_icon.png';
---
<div class="fixed bottom-0 left-0 right-0 bg-white/95 backdrop-blur-md border-t border-gray-100 p-3 lg:hidden z-[100] shadow-[0_-1px_3px_rgba(0,0,0,0.1)]">
    <div class="flex justify-between items-center gap-3 max-w-lg mx-auto px-4">
      <a href="https://carecle.com/booking/shinkyu_BiO" target="_blank" class="flex-1 flex items-center justify-center bg-[#00479D] text-white px-4 py-3 rounded-full hover:bg-[#0055bd] transition-colors text-sm font-medium">
        <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
        </svg>
        <span class="tracking-wider">Web予約</span>
      </a>
      <a href="https://line.me/ti/p/@616nutul" target="_blank" class="flex-1 flex items-center justify-center bg-[#00B900] text-white px-4 py-3 rounded-full hover:bg-[#00c900] transition-colors text-sm font-medium">
        <Image
              src={lineIcon}
              alt="LINE"
              class="w-7 h-7 mr-1"
              width={28}
              height={28}
            />
        <span class="tracking-wider">公式LINE</span>
      </a>
    </div>